@import "./design/options.scss";
@import "./design/buttons.scss";
@import "./design/sudokuGame.scss";
@import "./design/GameProgressChecker.scss";
@import "./design/modal.scss";

.App {
  text-align: center;
}

.body {
  overflow: hidden;
}

.numpad .button, .width-33 {
  width: 33.33%;
}

input:focus-visible {
  outline: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  transition: background-color 0.3s, color 0.3s;
}

.set-height {
  height: calc(100vh - 5.8rem);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: -5px;
  left: 0;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation.left::after {
  transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}

/* Light Mode (default) */
.light {
  --bg-color: theme("colors.white");
  --text-color: theme("colors.slate.800");
  --input-bg: theme("colors.slate.50");
  --input-text: theme("colors.slate.800");
  --input-border: theme("colors.slate.300");
  --highlight-color: theme("colors.sky.200");
}

.light * {
  border-color: theme("colors.slate.400");
}

.light #welcome-page {
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: color;
}

.light .hover-underline-animation::after {
  background-color: theme("colors.sky.500");
}

.light .rules-card,
.light .modal {
  box-shadow: -1px 15px 43px -7px var(--highlight-color);
}

.light .button,
.light .tooltiptext {
  background-color: var(--input-bg);
  color: var(--text-color);
  border-color: var(--input-border);
  transition: background-color 0.3s ease;
}

.light .button:hover,
.light .numpad.button:hover,
.light .modal .button:hover,
.light button:hover .tooltiptext {
  background-color: var(--highlight-color);
  border-color: theme("colors.slate.400");
}

.light button:hover svg {
  color: theme("colors.sky.500");
}

.light .modal {
  background-color: var(--bg-color);
}

.light .modal .close-modal {
  background-color: var(--highlight-color);
}

.light .modal .close-modal:hover {
  background-color: var(--bg-color);
}

/* Dark Mode */
.dark {
  --bg-color: theme("colors.gray.950");
  --text-color: theme("colors.gray.200");
  --input-bg: theme("colors.black");
  --input-text: theme("colors.gray.200");
  --input-border: theme("colors.gray.600");
  --highlight-color: theme("colors.violet.950");
}

.dark * {
  border-color: theme("colors.gray.500");
}

.dark #welcome-page {
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
}

.dark .hover-underline-animation::after {
  background-color: theme("colors.violet.400");
}

.dark .rules-card,
.dark .modal {
  box-shadow: -1px 15px 43px -7px var(--highlight-color);
}

.dark .pencil-box {
  background-color: var(--input-bg);
}

.dark .button,
.dark .tooltiptext {
  background-color: var(--input-bg);
  color: var(--text-color);
  border-color: var(--input-border);
  transition: background-color 0.3s ease;
}

.dark .button:hover,
.dark .numpad.button:hover {
  border-color: theme("colors.violet.400");
}

.dark .numpad button:hover {
  color: theme("colors.violet.400");
}

.dark button:hover svg {
  color: theme("colors.violet.400");
}

.dark .modal {
  background-color: var(--bg-color);
}

/* Parchment Theme */
.parchment {
  --bg-color: #faf3e0;
  --text-color: #333333;
  --input-bg: #faf3e0;
  --input-text: #333333;
  --input-border: #333333;
  --highlight-color: #ffc300;
}

.parchment * {
  border-color: #333333;
}

.parchment #welcome-page {
  background-color: rgb(250, 243, 224, 0.6);
  background-blend-mode: lighten;
}

.parchment .hover-underline-animation::after {
  background-color: var(--text-color);
}

.parchment .rules-card,
.parchment .modal {
  box-shadow: -1px 15px 43px -7px var(--highlight-color);
}

.parchment .button,
.parchment .tooltiptext {
  background-color: #333333;
  color: #faf3e0;
  border-color: #faf3e0;
  transition: background-color 0.3s ease;
}

.parchment .button:hover {
  background-color: var(--highlight-color);
  color: var(--text-color);
  border-color: #333333;
}

.parchment .modal {
  background-color: var(--bg-color);
}

/* Cyberwave Theme */
.cyberwave {
  /* background: linear-gradient(180deg, #39023C, #8C108C); */
  background: linear-gradient(
    170deg,
    rgba(57, 2, 60, 1) 10%,
    rgba(82, 6, 84, 1) 43%,
    rgba(207, 10, 162, 1) 87%,
    rgba(242, 82, 130, 1) 100%
  );
  --text-color: #fff8e6;
  --input-bg: #05051d;
  --input-text: #fff8e6;
  --input-border: #046aac;
  --highlight-color: #152559;
}

.cyberwave * {
  border-color: #046aac;
}

.cyberwave #welcome-page {
  background-color: rgba(57, 2, 60, 0.7);
  background-blend-mode: color-burn;
}

.cyberwave .hover-underline-animation::after {
  background-color: #046aac;
}

.cyberwave .rules-card,
.cyberwave .modal {
  box-shadow: -1px 15px 43px -7px var(--highlight-color);
}

.cyberwave .button,
.cyberwave .tooltiptext {
  background-color: var(--input-bg);
  color: var(--text-color);
  border-color: var(--input-border);
  transition: background-color 0.3s ease;
}

.cyberwave .button:hover {
  background-color: rgba(57, 2, 60, 1);
  color: rgba(207, 10, 162, 1);
  border-color: rgba(57, 2, 60, 1);
}

.cyberwave button:hover svg {
  color: var(--input-border);
}

.cyberwave .modal {
  background: #05051d;
}

/* Coriander Theme */
.coriander {
  --bg-color: theme("colors.coriander.200");
  --text-color: theme("colors.coriander.800");
  --button-text-color: theme("colors.coriander.100");
  --input-bg: theme("colors.coriander.100");
  --input-text: theme("colors.coriander.800");
  --input-border: theme("colors.coriander.700");
  --highlight-color: theme("colors.coriander.200");
}

.coriander * {
  border-color: theme("colors.coriander.700");
}

.coriander #welcome-page {
  background-color: rgba(207, 232, 174, 0.7);
  background-blend-mode: lighten;
}

.coriander .hover-underline-animation::after {
  background-color: var(--input-text);
}

.coriander .rules-card,
.coriander .modal {
  box-shadow: -1px 15px 43px -7px var(--input-border);
}

.coriander .button,
.coriander .tooltiptext {
  background-color: theme("colors.coriander.700");
  color: var(--button-text-color);
  border-color: var(--highlight-color);
  transition: background-color 0.3s ease;
}

.coriander .button:hover {
  background: theme("colors.coriander.900");
  border-color: theme("colors.coriander.700");
  color: theme("colors.coriander.100");
}

.coriander .numpad .button:hover {
  background: theme("colors.coriander.500");
}

.coriander button:hover svg {
  color: theme("colors.coriander.500");
}

.coriander .modal {
  background-color: var(--bg-color);
}

/* full-sun Theme */
.full-sun {
  --bg-color: #f9a021;
  --text-color: #2d2717;
  --input-bg: #df6d11;
  --input-text: #2d2717;
  --input-border: #2d2717;
  --highlight-color: #b93b13;
}

.full-sun * {
  border-color: #2d2717;
}

.full-sun #welcome-page {
  background-color: rgba(185, 59, 19, 0.8);
  background-blend-mode: lighten;
}

.full-sun .hover-underline-animation::after {
  background-color: var(--highlight-color);
}

.full-sun .rules-card,
.full-sun .modal {
  box-shadow: -1px 15px 43px -7px var(--highlight-color);
}

.full-sun .button,
.full-sun .tooltiptext {
  background-color: #df6d11;
  color: var(--text-color);
  border-color: var(--input-border);
  transition: background-color 0.3s ease;
}

.full-sun .button:hover,
.full-sun:hover .tooltiptext {
  background-color: #464d35;
  border-color: #2a2517;
  color: #f9a021;
}

.full-sun .modal {
  background-color: var(--bg-color);
}

/* Apply the variables */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

input {
  background-color: var(--input-bg);
  color: var(--input-text);
  border-color: var(--input-border);
}

/* Ensure placeholders also adjust */
input::placeholder,
textarea::placeholder {
  color: var(--input-border);
}

.h-80v {
  height: 80vh;
}
