.three-container {
  width: 100%;
}

input, .pencil-box {
  padding: 1px;
  margin: 0;
}
@media only screen and (min-width: 640px) and (max-width: 750px) {
  .numpad {
    .button.numpad-row {
      width: 3rem;
      height: 3rem;
    }
  }

  .numpad-portion {
    .pencil-markings {
      .button {
        padding: 0.5rem;
      }
    }
  }
}


@media only screen and (min-width: 750px) and  (max-width: 1280px) {
  .numpad {
    .button.numpad-row {
      width: 4rem;
      height: 4rem;
    }
  }

  .numpad-portion {
    .pencil-markings {
      .button {
        padding: 0.5rem;
      }
    }
  }
}

